.foot{
  width: 100%;
  background-color: black;
}
.main-footer{
  text-align: center;
  background-color: #1b2d70;
  height: 350px;
  display:inline-table;
  width: 100%;
}
.Titulo{
color: white;
font-weight: bolder;


}
.container-btns{
  
  background-color: blue;
  
}

.home{
  
  padding: 50px;
  display: inline-block;
  color: white;
}
.homeI{
  font-size: 3em;
  padding:50px 0 0 0;
  color: white;
}


.email{
  padding: 50px;
  display: inline-block;
  color: white;
}
.icono-container{
  background-color: aqua;
}
.EmailI{
  font-size: 3em;
  padding:50px 0 0 0;
  color: white;
  
  
}
.phone{
  padding: 50px;
  display: inline-block;
  color: white;
 
}
.PhoneI{
  font-size: 3em;
  padding:50px 0 0 0;
  color: white;
}